<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace后面写的是这个映射文件对应接口的包和接口名-->
<mapper namespace="com.example.exercise.mapper.UserMapper">
    <resultMap id="userResultMap" type="com.example.exercise.domain.User">
        <id property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="loginCount" column="login_count"/>
        <result property="lastLoginTime" column="last_login_time" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
    </resultMap>
    <!--    int save(User user);-->
    <!--    int update(String email, LocalDateTime lastLoginTime);-->
    <!--    User findByEmailAndPassword(String email, String password);-->
    <!--    String findEmail(String email);-->
    <insert id="save" parameterType="com.example.exercise.domain.User">
        insert into user(email, password)  values ( #{email},#{password})
    </insert>

    <update id="update" >
        update user set login_count = login_count+1, last_login_time = #{lastLoginTime} where email=#{email}
    </update>

    <select id="findByEmailAndPassword" resultMap="userResultMap">
        select * from user where email=#{email} and password=#{password}
    </select>

    <select id="findEmail" parameterType="java.lang.String" resultType="java.lang.String">
        select email from user where email=#{email}
    </select>


</mapper>